<div class="container-fluid">
  <div class="row">
    <div class="col-12 image">
      
      <div class="row">
        <div class="col-3">
          <img src="/images/iconoweb.png" id="puente" class="img-fluid" width="150px">
            <div>GeekHubs</div>
            <div>Travels</div>
        </div>

        <div class="col-6">
          <nav class="nav justify-content-center">
            <a class="nav-link font-italic" href="#">Destinos </a>
            <a class="nav-link font-italic" href="#"> Quienes somos</a>
            <a class="nav-link font-italic" href="#"> Donde estamos</a>
          </nav>
        </div>
      
        <div class="col-3">
          <div class="row justify-content-end">
            <div class="col-2">
              <a href="#">
                <img src="/images/fb-ico.png" class="img-fluid" id="iconFB">
              </a>
            </div>
            <div class="col-2">
              <a href="#">
                <img src="/images/tt-ico.png" class="img-fluid" id="iconTW">
              </a>
            </div>
            <div class="col-2">
              <a href="#">
                <img src="/images/ws-ico.png" class="img-fluid" id="iconWS">
              </a>
            </div>
            <div class="col-2">
              <a href="#">
                <img src="/images/in-ico.png" class="img-fluid" id="iconIN">
              </a>
            </div>
            <div class="col-2">
              <a href="#">
                <img src="/images/ln-ico.png" class="img-fluid" id="iconLN">
              </a>
            </div>
            <div class="col-2">
              <a href="#">
                <img src="/images/yo-ico.png" class="img-fluid" id="iconYO">
              </a>
            </div>
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col-3">
          </div>
          <div class="col-6 d-flex justify-content-start">
            <h1>Viaja!</h1>
          </div>
          <div class="col-3">
          </div>
        </div>
        <div class="row">
          <div class="col-3">
          </div>
          <div class="col-6 d-flex justify-content-start">
            <h2>Descubre lugares maravillosos!</h2>
          </div>
          <div class="col-3">
          </div>
        </div>

        <div class="wrapperBtn">
          <button type="button" class="btn btn-warning btn-lg">ver destinos</button>
        </div>

    </div>
  </div>
</div>


