<div class="container-fluid">
  <div class="row">
    <div class="col-12 imageSmall">

      <div class="row">
        <div class="col-3 d-none d-lg-block">
          <img src="/images/iconoweb.png" id="puente" class="img-fluid" width="150px">
          <div>GeekHubs</div>
          <div>Travels</div>
        </div>

        <div class="col-6 d-none d-lg-block">
          <nav class="nav justify-content-center">
            <a class="nav-link font-italic" href="/#destinosNormal">Destinos </a>
            <a class="nav-link font-italic" href="/#quienNormal"> Quienes somos</a>
            <a class="nav-link font-italic" href="/#mapId"> Donde estamos</a>
            <a class="nav-link font-italic" href="register"> Registro</a>
            <a class="nav-link font-italic" href="login"> Login</a>
          </nav>
        </div>

        <div class="col-3 d-none d-lg-block">
          <div class="row justify-content-end">
            <div class="col-3"></div>
            <div class="col-9">
              <a href="#">
                <img src="/images/fb-ico.png" class="img-fluid" id="iconFB">
              </a>
              <a href="#">
                <img src="/images/tt-ico.png" class="img-fluid" id="iconTW">
              </a>
              <a href="#">
                <img src="/images/ws-ico.png" class="img-fluid" id="iconWS">
              </a>
              <a href="#">
                <img src="/images/in-ico.png" class="img-fluid" id="iconIN">
              </a>
              <a href="#">
                <img src="/images/ln-ico.png" class="img-fluid" id="iconLN">
              </a>
              <a href="#">
                <img src="/images/yo-ico.png" class="img-fluid" id="iconYO">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-none d-sm-block d-lg-none d-block d-xs-block d-md-block align-items-center">
        <nav class="navbar navbar-expand-auto navbar-dark bg-dark fixed-top">
          <img class="icon image-fluid logoWeb" src="/images/iconoweb.png" alt="icono web">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarTogglerDemo01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarHeader">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active justify-content-center">
                <a class="nav-link font-italic" href="/#destinosResponsive">Destinos</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link font-italic" href="/#quienResponsive">Quiénes somos</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link font-italic" href="register">Registro</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link font-italic" href="login">Login</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>