<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-12">
            <div class="error-template">
                <h1 style="color: black">
                    Oops!</h1>
                <h2 style="color: black">
                    404 Not Found</h2>
                <div class="error-details">
                    Perdón, ha ocurrido un error, la página no exite!
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg">
                        Volver
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>